.bg-color-gray {
    background-color: #f2f3f5
}

.container {
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    width: 1200px;
}

.my-mall-table-width{
    width: 1100px;
}
