server:
  port: 45000
  servlet:
    context-path: /api
spring:
  application:
    name: market3
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://vm.server:3306/resp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: abcd1234
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      database: 1
      host: vm.server
      port: 6379
      password: abcd1234
      timeout: 10s # 连接超时时间
      lettuce:
        pool:
          max-active: 200 # 连接池最大连接数
          max-wait: -1ms # 连接池最大阻塞等待时间（使用负值表示没有限制）
          max-idle: 10 # 连接池中的最大空闲连接
          min-idle: 0 # 连接池中的最小空闲连接
minio:
  endpoint: http://vm.server:9000
  accesskey: admin
  secret-key: admin123456
  bucket: reuse-market3

mybatis-plus:
  global-config:
    db-config:
      # 这两项配置可以让实体类中不用写表名注解和 id生成注解，会自动找到 名为id 的属性
      table-prefix: s_  # 表前缀
      id-type:  ASSIGN_ID  # id生成策略
  configuration:
    map-underscore-to-camel-case: true # 驼峰命名
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

sa-token:
  token-name: server-auth
  cookie:
    httpOnly: true
  is-read-header: false
  is-read-body: false
  is-read-cookie: true # 本项目用 Cookie 鉴权， sa-token配置 https://sa-token.cc/doc.html#/use/config
logging:
  # 设置 mapper 文件夹下的 Mapper.java 文件输出日志
  group:
    DEBUG: "com.baomidou, com.server.mapper"
  level:
    DEBUG: debug
    OFF: off

