<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.business.product.mapper.ProductSkuMapper">
    <update id="deductStock">
        UPDATE product_sku
        SET stock_quantity = stock_quantity - #{quantity}
        WHERE id = #{skuId}
        AND stock_quantity >= #{quantity}
    </update>


    <select id="getDetailBySkuIds" resultType="com.server.business.product.domain.vo.ProductSkuDetailVo">
        SELECT product.name AS productName,
        product.main_image AS mainImage,
        sku.id AS id,
        sku.product_id AS productId,
        sku.sku_attr_values AS skuAttrValues,
        sku.code AS code,
        sku.name AS name,
        sku.price AS price,
        sku.stock_quantity AS stockQuantity,
        sku.locked_stock AS lockedStock,
        sku.sales_count AS salesCount,
        sku.status AS status,
        sku.create_time AS createTime,
        sku.update_time AS updateTime
        FROM product_sku AS sku
        LEFT JOIN product_product AS product
        ON sku.product_id = product.id -- 修改此处，使用表别名 sku
        where sku.id in
        <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>


    <select id="selectProductListBySkuIds" resultType="com.server.business.product.domain.Product">
        select p.*
        from product_sku s
        left join product_product p on s.product_id = p.id

        where s.id in
        <foreach item="item" collection="skuIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>
</mapper>
