/* 基础样式 */
body {
    margin: 0;
    padding: 0;
    transition: background-color 0.25s, color 0.25s;
    color: var(--color-text);
    background-color: var(--color-body);
    /*color-scheme: var(--color-scheme);*/
}

/* 暗色模式样式 */
:root[theme='dark'] {
    color-scheme: dark;
}


